<div style="padding:50px;background:#fffffe;text-align:center;">
  <h1 style="font-size:30px;margin-bottom:40px;">A customer purchased a event ticket</h1>

  <div>You can visit this <a href="<%= ENV['FRONT_APP_URL'] %>/mypage/event_order/<%= @event_reservation.id %>" target="_blank">page</a> to check the order details.</div>

</div>