<div style="padding:50px;text-align:center;background:#fffffe;">
  <h1 style="font-size:30px;margin-bottom:20px;">Welcome to Himitsukichi!</h1>
  <p style="margin-bottom:50px;">You're all set. Now you can rent the spaces and invite the experts for your wonderful event.</p>
  <a href="<%= ENV['FRONT_APP_URL'] %>/user/login?token=<%= @token %>&user=<%= @user_id %>" style="padding: 12px 20px;background: #ff8e3c;color:#fff;text-decoration: none;border-radius: 5px;" target="_blank"> LOGIN TO YOUR NEW ACCOUNT </a>
  <div style="margin-top: 50px;font-size:16px;">If you have not registered on our website, please ignore this email.</div>
</div>