  <div style="padding:50px;text-align:center;background:#fffffe;">
    <h1 style="font-size:30px;margin-bottom:20px;">Password Reset</h1>
    <p style="margin-bottom:50px;">If you've lost your password or wish to reset it, use the link below to get started.</p>
    <a href="<%= ENV['FRONT_APP_URL'] %>/password/update?token=<%= @token %>&user=<%= @user_id %>" style="padding: 12px 20px;background: #ff8e3c;color:#fff;text-decoration: none;border-radius: 5px;" target="_blank"> RESET YOUR PASSWORD </a>
    <div style="margin-top: 50px;font-size:16px;">If you did not request a password reset, you can safely ignore this email. Only a person with access to your email can reset your account password.</div>
  </div>