<div style="padding:50px;background:#fffffe;text-align:center;">
  <h1 style="font-size:30px;margin-bottom:40px;">You are invited by a customer</h1>

  <div>Please visit this <a href="<%= ENV['FRONT_APP_URL'] %>/mypage/expert_order/<%= @expert_reservation.id %>" target="_blank">page</a> to check the order details.</div>

</div>