<div style="padding:50px;background:#fffffe;text-align:center;">
  <h1 style="font-size:30px;margin-bottom:40px;">You have invited the expert.</h1>

  <div>Please visit this <a href="<%= ENV['FRONT_APP_URL'] %>/mypage/expert_reservation/<%= @expert_reservation.id %>" target="_blank">page</a> to check more details.</div>

</div>