<div style="padding:50px;background:#fffffe;">
  <h1 style="font-size:30px;margin-bottom:40px;text-align:center;">Great! Your space reservation has been approved by owner.</h1>

  <div style="text-align:center;">Please visit this <a href="<%= ENV['FRONT_APP_URL'] %>/mypage/space_reservation/<%= @reservation.id %>" target="_blank">page</a> to check your reservation detail.</div>

</div>