<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
      table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
      }
      
    </style>
  </head>

  <body style="background:#eff0f3;padding:20px 40px;font-size:20px;">
    <div style="text-align:center;margin-bottom:20px;">
    <img src="https://himitsukichi.s3.ap-northeast-1.amazonaws.com/logo/logo-transparent.2cae6c8.png" style="height:50px;" alt="Himitsukichi Logo"/>
    </div>
    <%= yield %>
  </body>

  <footer style="margin-top:50px;padding:20px;text-align:center;">
  <div style="display:flex;justify-content: center;align-items:center;">
    <a href="https://facebook.com" target="_blank"><img src="https://himitsukichi.s3.ap-northeast-1.amazonaws.com/logo/facebook+logo_icon.png" style="height:20px;margin:0 10px;" /></a>
    <a href="https://twitter.com" target="_blank"><img src="https://himitsukichi.s3.ap-northeast-1.amazonaws.com/logo/twitter+logo_icon.png" style="height:20px;margin:0 10px;" /></a>
    <a href="https://www.instagram.com" target="_blank"><img src="https://himitsukichi.s3.ap-northeast-1.amazonaws.com/logo/instagram+logo_icon.png" style="height:20px;margin:0 10px;" /></a>
    <a href="https://www.pinterest.com" target="_blank"><img src="https://himitsukichi.s3.ap-northeast-1.amazonaws.com/logo/pinterest_social+network_icon.png" style="height:20px;margin:0 10px;" /></a>
  </div>
  </footer>
</html>
